.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  padding: 30px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-header {
  font-size: 18px;
  font-weight: 700;
}

.contact-form-group {
  padding: 10px 40px;
  height: min-content;
}

.contact-form-label {
  font-size: 16px;
  font-weight: 700;
}

.contact-form-input {
  width: 100%;
  border-radius: 7px;
  border: transparent 1px solid;
  background-color: lightgray;
  padding: 7px;
  font-size: 14px;
  color: #b69d74;
}

.contact-form-button {
  width: 80%;
  margin: 0 auto;
  border-radius: 7px;
  padding: 5px;
  background-color: #121d33;
  border: 1px solid #121d33;
  color: #ffffff;
  font-weight: 700;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.details-group {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.details-description {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: flex-start;
    margin-top: 40px;
  }
  .contact-form-container {
    width: 100%;
  }
  .contact-details-container {
    width: 100%;
    margin-top: 20px;
  }
}
