/* landing section */

.landing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  position: relative;
}

.landing-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30%;
  align-items: start;
  width: 100%;
  height: 100%;
}

.hero-into {
  color: #b69d74;
  font-size: 16px;
  font-weight: 600;
  text-align: start;
  margin: 0;
}

.hero-text {
  color: #fff;
  font-size: 36px;
  margin: 0 auto;
  font-weight: 800;
}

.hero-desc {
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  width: 75%;
  margin-top: 10px;
  text-overflow: clip;
  overflow: hidden;
}

.landing-button {
  border: #fff 1px solid;
  background-color: #fff;
  color: #121d33;
  border-radius: 10px;
  padding: 7px;
  font-size: 13px;
  font-weight: 600;
}

/* who section */

.who-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text image";
  margin: 20px 0;
  padding: 0 30px;
  width: 100%;
}

.who-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  text-align: start;
  grid-area: text;
  margin-left: 30px;
}

.body-container {
  padding: 0 20px;
  width: 100%;
}

.intro-text {
  color: #121d33;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}

.body-text {
  font-size: 14px;
  padding: 0 10px;
}

.image-container {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  grid-area: image;
}

.who-image {
  width: 50%;
  max-width: 75%;
  height: auto;
  object-fit: cover;
  z-index: 2;
}

/* what section */

.what-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 0 50px;
  margin: 20px 0;
}

.what-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.what-header-container .intro-text {
  text-align: end;
  width: 100%;
}

.what-grid-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.grid-item {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.grid-item-bg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
}

.grid-item-overlay {
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/gridItemOverlay.png");
  z-index: 2;
  padding: 20px;
  margin: auto;
}

.grid-item-title {
  font-size: 15px;
  color: #b69d74;
  font-weight: 700;
}

.grid-item-body {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  height: 45%;
  overflow: hidden;
}

/* how section */

.how-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 0 50px;
  margin: 20px 0;
}

.how-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.how-header-container .intro-text {
  text-align: center;
  width: 100%;
}
.how-header-container .section-subtitle {
  text-align: center;
  width: 100%;
}

.how-grid-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.grid-item-link {
  font-size: 14px;
  color: #b69d74;
  font-weight: 700;
  margin-top: 0;
}

.grid-item-link:hover {
  text-decoration: none;
  color: #fff;
  transition: 400ms ease-in-out;
}

.how-grid-container .grid-item-title {
  font-size: 20px;
  width: 70%;
}

.how-grid-container .grid-item-body {
  display: none;
}

.how-grid-container .grid-item-link {
  display: none;
}
.how-grid-container .grid-item:hover .grid-item-body {
  display: inline-block;
  transition: 500ms ease-in;
  margin-bottom: 0;
}

.how-grid-container .grid-item:hover .grid-item-link {
  display: inline-block;
  transition: 500ms;
}

@media screen and (max-width: 576px) {
  /* landing section */
  .landing-text-container {
    padding: 0 20px;
  }
  .hero-text {
    font-size: 28px;
    width: 100%;
  }

  .hero-desc {
    width: 100%;
  }

  /* who section */
  .who-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "text"
      "image";
    padding: 30px;
  }

  .grid-item {
    width: 90%;
  }
  .how-grid-container .grid-item-body {
    display: inline-block;
    height: 35%;
    margin-bottom: 0;
  }

  .how-grid-container .grid-item-link {
    display: inline-block;
  }
}
